.post-container {
  height: calc(100vh - 40px);
  background-color: rgba(#fff, .85);
  box-shadow: 0 0 12px rgba(#000, .80);
  overflow-y: scroll;
}

/* Post Styling */
.post-date {
  padding-left: 10px;
}

.post {
  max-width: 800px;
  margin-left: 2em;
  margin-right: 2em;
  color: $color-brand-primary;
  font-family: $font-family-base;
}

.post-content {
  a:hover {
    color: $color-brand-primary;
  }
}

.post-meta {
  margin-top: -20px;
  font-size: $font-size-small;
}