// Sticky footer with flex
body {
  @include flex();
  flex-direction: column;

  .site-content {
    height: calc(100vh - 40px);
    @include flex();
    flex-direction: row;
  }

  .site-sidebar {
    width: 25%;
  }

  .site-main {
    width: 55%;
  }

  .blog-sidebar {
    width: 20%;
  }
}

