// Offcanvas
body {
  overflow-x: hidden;
}

// Sticky footer... at the right time
@include mq-down($screen-md-min) {
  body {
    @include flex(column);
  }
}

@include mq-up($screen-md-min) {
  body {
    position: relative;
  }

  .site-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

// Mobile-first flex content (stack, then row)
.site-content {
  @include max-container();
  @include flex(column);
  min-height: 100vh;
}

.site-sidebar,
.site-main,
.blog-sidebar {
  width: 100%;
  height: 100%;
  @include transition(all $transition-speed-base $transition-timing-function-base);
  margin-bottom: ($margin-base-vertical * 2);
}

@include mq-up($screen-md-min) {
  .site-content {
    flex-direction: row;
  }

  .site-sidebar,
  .site-main,
  .blog-sidebar {
    height: 100vh;
    margin-bottom: 0;
  }

  .site-sidebar {
    width: 150px;
  }

  .site-main {
    // delay to account for offcanvas spanning initial sidebar
    transition-delay: .1s;
  }

  .post-container {
    height: 100vh;
    overflow-y: scroll;
  }
}

