.site-footer {
  font-size: $font-size-small;
  padding: 10px $padding-base-horizontal;
  background-color: rgba($color-brand-primary, .85);
  z-index: 1000;
  @include transition(opacity $transition-speed-base $transition-timing-function-base);

  @include mq-up($screen-md-min) {
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }

  footer {
    @include max-container();
    @include flex(column);

    > div {
      width: 100%;
      text-align: center;
      @include mq-down($screen-sm-max) {
        margin-bottom: $margin-base-vertical;
      }
    }

    @include mq-up($screen-md-min) {
      @include flex-direction(row);

      > div {
        width: 33.333%;

        &:first-of-type {
          text-align: left;
        }
        &:last-of-type {
          text-align: right;
        }
      }
    }
  }

  .copyright {
    display: table-cell;
    vertical-align: middle;
    font-size: 85%;
  }

  .icon-brand-github {
    @include square(23px);
  }
}