.site-footer {
  font-size: $font-size-small;
  padding: 10px $padding-base-horizontal;
  background-color: rgba($color-brand-primary, .55);

  footer {
    display: flex;
    flex-direction: row;

    > div {
      width: 33.333%;
      text-align: center;

      @include mq-up($screen-md-min) {
        &:first-of-type {
          text-align: left;
        }
        &:last-of-type {
          text-align: right;
        }
      }
    }

  }

  .copyright {
    display: table-cell;
    vertical-align: middle;
    font-size: 85%;
  }

  .icon-brand-github {
    @include square(23px);
  }
}