<aside class="site-sidebar">
    <div class="sidebar-brand">
        <a href="/">
            {% if page.url == '/index.html' %}
            <h1 class="site-title">The Midnight Oil Refinery</h1>
            {% else %}
            <span class="site-title">The Midnight Oil Refinery</span>
            {% endif %}
        </a>
    </div>
    <div class="sidebar-content">
        <p>
            A collaboration of <a href="http://andrewcull.io/" target="_blank">Andrew</a> & <a
                href="http://github.com/jholl/" target="_blank">James</a> to build elegant, conversion-focused sites
            while giving back to open-source.
        </p>
    </div>
</aside>
