img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  /* Layer underneath */
  z-index: -1;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.main-page {
    margin-top: 25%;
    text-align: center;

    article a {
      color: $text-color;
    }

    a:link {
        font-color: $text-color;
        text-decoration: underline;
    }

    a:hover {
        text-decoration: none;
    }

    a:visited {
      color: $text-color;
    }

    h3 {
      font-size: $small-font-size;
    }
}

/* Post Styling */
.post-date {
  padding-left: 10px;
}


.post {
  max-width: 800px;
  margin-left: 2em;
  margin-right: 2em;
  color: $brand-color;
  font-family: $base-font-family;
  
  a: hover {
  	color: $brand-color;
}

.post-meta {
  margin-top: -20px;
  font-size: $small-font-size;
}

/* Footer Styling */
.site-footer {
  text-align: center;
  color: $brand-color;
  p {
  font-size: $small-font-size;
  }

  a {
    color: $brand-color;
  }
}
