// =======================================
// Variable colors
// =======================================

$color-grey: #aaa;
$color-grey-light: lighten($color-grey, 40%);
$color-grey-dark: darken($color-grey, 25%);

// =======================================
// Brand colors
// =======================================

$color-brand-orange: #ef5a2a;
$color-brand-yellow: #fff000;
$color-brand-navy: #001f3f; //#151a2c;

$color-brand-primary: #111;

// =======================================
// Responsive
// =======================================

// Extra small screen / phone
$screen-xs-min: 0px;
$screen-xs-max: 480px;

// Small screen / tablet
$screen-sm-min: ($screen-xs-max + 1);
$screen-sm-max: 768px;

// Medium screen / desktop
$screen-md-min: ($screen-sm-max + 1);
$screen-md-max: 992px;

$screen-lg-min: ($screen-md-max + 1);
$screen-lg-max: 4000px;

// =======================================
// Scaffolding & Layout
// =======================================

$percent-content-width: 80%;
$background-color-base: #fff;
$margin-base-vertical: 15px;
$margin-base-horizontal: 15px;
$margin-base: $margin-base-vertical $margin-base-horizontal;
$padding-base-vertical: 10px;
$padding-base-horizontal: 10px;
$padding-base: $padding-base-vertical $padding-base-horizontal;

// =======================================
// Typography
// =======================================

$font-family-base: 'Roboto', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;
$font-size-small: $font-size-base * 0.875;
$color-text-base: #fff;

$color-links-base: $color-brand-orange;
$color-links-base-hover: darken($color-links-base, 10%);
$color-links-base-visited: $color-links-base;

$background-color-pre: #eef;

// =======================================
// Helpers
// =======================================

$pixel-size-spacing: 30px;


