.splash-page {

  .site-sidebar {
    background-color: transparent;
  }
}

.splash-content {
  margin-top: 75px;
  max-width: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  background-color: rgba(0, 0, 0, .35);
  font-weight: 100;
  font-family: sans-serif;

  @include mq-up($screen-md-min) {
    margin-top: 150px;
  }

  .splash-title {
    color: $color-brand-orange;
  }

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      color: $color-brand-orange;
    }
  }
}
