.splash-page {

  .site-sidebar {
    background-color: transparent;
  }
}

.splash-content {
  margin-top: 75px;
  max-width: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  font-weight: 100;
  font-family: sans-serif;

  @include mq-up($screen-md-min) {
    margin-top: 150px;
  }

  .splash-title {
    margin-top: 125px;
    color: $color-brand-orange;
//    font-size: $font-size-base * 2;
    text-shadow:
     2px 2px 0px $color-brand-navy,
     4px 4px 0px rgba(0, 0, 0, 0.2)



  }

  a {
    color: #fff;
    text-decoration: underline;

    &:hover {
      color: $color-brand-orange;
      text-decoration: none;
    }
  }
}
